#logo{
	width: 230px;
	float: left;
}

#linha{
	border: 1px medium #AAAFFF;	
}

#img{
	margin: 0 auto;
	opacity: none;
}

.jumbotron{
	margin-top: 25px;
	margin-bottom: 0px;
	background-image: url("../img/chars.png");
}

.search_box{
	margin-top: 50px;
	margin-top: 150px;
	margin-bottom:100px;
	width: 100%;
}

.search-button{
	width: 200px;	
}

a.footer-search-fonte:link, a.footer-search-fonte:visited{
	color: #696969;
	text-decoration: none;
}

a.footer-search-fonte:hover{
	color: #000000;
}

.footer{
	float: left;
	margin-top: 30px;
	text-align: center;
	width: 100%;
	color: #FFFFFF;
	background-color: #000;
}

.menu-item{
	width: auto;
	margin-left: 20px;
	text-align: center;
}
.panel-title{
	text-align: center;
	padding-top: 20px;
}
.logo{
	margin: 0 auto;
	width: 300px;
}

.center{
	text-align: center;
}

.copy{
	text-align: center;
	color: #696969;
	margin-top: 20px;
}

.input-login{
	width: 90%;
	margin: 0 auto;
}

.button-login{
	width: 90% !important;
	margin: 0 auto !important;
	margin-bottom: 10px !important;
}

.panel-index{
	padding: 25px;
	text-align: center;
}

.titulo-index{
	text-align: center;	
}

.btn-index{
	margin-bottom: 10px;
	width: 100%;
}

.icon-link{
	color: #000;
}

.glyphicon{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.align-right{
	float: right;
}

.span_title{
	font-size: 28px;
	font-weight: bold;
	color: blue;
	margin-top: 10px;
}

#sistema-title{
	font-size: 14px;	
}


.icon-link:hover{
	color: #F00;
}

.size-img{
	width: auto;
}

.center{
	margin: 0 auto;
}

#example_filter{
	float: right;
}

.pagination{
	float: right;
	margin-top: 0px !important;
	padding-top: 0px !important;
}
#example_info{
	left: 
}

.margin-zero{
	margin: 0;
	padding: 0px;
}

.overflow{
	overflow: auto;
	height: 200px;
}

.link-title:link, .link-title:visited{
	color: white;
}

.embed-responsive {
   max-height:450px;
}

.header_ded_4-0{
	background-color: #CC6600;
	color: white;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #000;
}

.body1_ded_4-0{
	background-color: #E6E8FA;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.body2_ded_4-0{
	background-color: #D9D9F3;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.header_ded_5-0{
	background-color: #B22222;
	color: white;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #000;
}

.body1_ded_5-0{
	background-color: #FA8072;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.body2_ded_5-0{
	background-color: #FFA07A;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.header_ded_3-5{
	background-color: #B22222;
	color: white;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #000;
}

.body1_ded_3-5{
	background-color: #EEE5DE;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.body2_ded_3-5{
	background-color: #FFF5EE;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.header_3det{
	background-color: #3232CD;
	color: white;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #000;
}

.body1_3det{
	background-color: #FFFAFA;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.body2_3det{
	background-color: #F5F5F5;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.header_deamon{
	background-color: #8B1A1A;
	color: white;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #000;
}

.body1_deamon{
	background-color: #FFFAF0;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.body2_deamon{
	background-color: #FAEBD7;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.header_fate{
	background-color: #B22222;
	color: white;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #000;
}

.body1_fate{
	background-color: #FFF8DC;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.body2_fate{
	background-color: #FFFFF0;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.header_monstros{
	background-color: #36648B;
	color: white;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #000;
}

.body1_monstros{
	background-color: #FFF5EE;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.body2_monstros{
	background-color: #FFF8DC;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.header_itens{
	background-color: #8470FF;
	color: white;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #000;
}

.body1_itens{
	background-color: #FAEBD7;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.body2_itens{
	background-color: #FDF5E6;
	color: black;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}
.border-button{
	border-bottom: 2px solid #000;
}

.propaganda{
	width: 600px;
	height: 70px;
	background-color: black;
}

.classe_personagem{
	width: 100%;
	height: auto;
	background-color: #FAF0E6; 
}

.banner-center{
	margin: 0 auto;
	margin-top: 10px;
	width: 728px;
	height: 90px;
	max-width: 100% !important;
}

#map{
	max-width: 100%;
	padding: 5px;
}

.adsense{
	width: 80%;
	margin: 0 auto;
}

.search-title{
	width: 100px;
	color: #8470FF;
	font-size: 16px;
	font-weight: bold;
}